
$blue:      #BED6FF;
$blue-dark: #031d44;
$red:       #E12D3C;
$gold:    #E8BD6D;
$green:     #38614A;
$white:     #FFFFFF;
$black:     #000000;

$theme-colors: (
        "blue":   $blue,
        "blue-dark":  $blue-dark,
        "red":  $red,
        "gold":  $gold,
        "green":  $green,
        "white":  $white,
        "black":  $black,
);
