
$blue:      #002b45;
$blue-dark:      #001521;
$yellow:    #ffc67d;
$orange:    #ff7200;
$white:     #FFFFFF;
$grey:      #f8f8f8;
$black:     #000000;

$theme-colors: (
        "blue":   $blue,
        "blue-dark":   $blue-dark,
        "yellow": $yellow,
        "orange": $orange,
        "white":  $white,
        "grey":   $grey,
        "black":  $black,
);
