.block-footer-contact, .block-footer-some {
  .contact-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding:1rem;
    svg {
      border-radius:4px;
      width:32px;
      height:32px;
      padding:4px;
      //background: $orange;
      margin-right:2rem;
      path {
        //fill: white;
        fill: $yellow;
      }
    }
    p {
      //text-align: center;
      font-size:16px;
      color:white;
      margin-bottom:0;
      &.contact-type {
        color: white;
        font-weight: 700;
        margin-bottom:0px;
      }
    }
    .content-container {
      //text-align: center;
    }
  }
}