.block-icon-boxes {
  padding-bottom:4rem;
  .icon-box {
    margin-bottom:1rem;
    svg {
    border-radius: 4px;
    width: 32px;
    height: 32px;
    padding: .5rem;
    background: #ff7200;
    margin-right:1rem;
    path {
      fill:white;
    }
  }
  }

}