.block-service-boxes {
  //padding: 6rem 0 3rem;
  background: #ffffff;
  .service-box {
    //margin:1rem;
    padding:1rem;
    .content {
      padding:1rem;
      background-color:$grey;
      h3 {
        font-size:20px;
      }
    }
  }
  .icon-container {
    //margin-right:1rem;
    svg {
      border-radius:4px;
      width:32px;
      height:32px;
      padding:0.5rem;
      background: $orange;
      path {
        fill: white;
      }
    }
  }
}